.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    font-size: 13px;
}

.main-container .containers {
    width: 960px;
    margin: 0 auto;
}

/* Common css */
.dropdown-menu {
    border: #707070;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
}

.main-container .containers .btn-main {
    color: #ff6f00;
    border-color: #ff6f00;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 12px;
}

.main-container .containers .btn-main:hover {
    background-color: #ff6f00;
    color: #fff;
}

.main-container .containers .btn-main:focus {
    box-shadow: 0 0 0 0.2rem #ff6f004d;
}

.main-container .btn-sub {
    background-color: #ff6f00;
    border-color: #ff6f00;
    color: #fff;
}

.main-container .btn-sub:hover {
    background-color: #ff6f00d6;
    border-color: #ff6f00d6;
    color: #fff;
}

.main-container .btn-sub:focus {
    box-shadow: 0 0 0 0.2rem #ff6f004d;
}

.main-container .btn-get {
    background: #000;
    color: #fff;
    font-size: 9px;
    padding: 5px 13px;
    width: 120px;
}

.main-container .btn-get:hover {
    color: #fff;
    -webkit-box-shadow: 0 0 0 0.2rem #333333ad;
    -moz-box-shadow: 0 0 0 0.2rem #333333ad;
    box-shadow: 0 0 0 0.2rem #333333ad;
}

.main-container .btn-get:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #333333ad;
    -moz-box-shadow: 0 0 0 0.2rem #333333ad;
    box-shadow: 0 0 0 0.2rem #333333ad;
}

.main-container .btn-get img {
    width: 16px;
}

.main-container .btn-get > div:last-child b {
    font-size: 11px;
}

/* End common*/
.main-container .header {
    height: 700px;
    margin-bottom: 170px;
    background: #f8f6f3;
}

.main-container .c-header {
    background: url(../images/main/header.png) no-repeat center top;
    height: 900px;
    width: 100%;
    background-size: contain;
}

.main-container .c-header .topnav {
    position: relative;
    display: flex;
    width: 100%;
}

.main-container .c-header .topnav > div:last-child {
    width: calc(100% - 75px);
}

.main-container .c-header .topnav .icon {
    display: none;
}

.main-container .logo img {
    width: 55px;
}

.main-container .navbar .nav-link {
    font-weight: 500;
    color: #333;
}

.main-container .header .navbar .nav-item {
    margin-right: 15px;
}

.main-container .navbar .nav-link:after {
    content: none;
}

.main-container .navbar .nav-link.active {
    color: #007bff;
}

.main-container .header .navbar .nav-item .dropdown-toggle > span {
    margin-top: 3px;
}

.main-container .header .navbar .nav-item i {
    font-size: 9px;
}

.main-container .header .navbar .nav-item .fa-chevron-up {
    display: none;
}

.main-container .header .navbar .nav-item.show .fa-chevron-up {
    display: block;
}

.main-container .header .navbar .nav-item.show .fa-chevron-down {
    display: none;
}

.main-container .header .navbar-nav .dropdown-menu {
    padding-top: 0px;
    left: 10px;
    min-width: 150px;
    border-color: transparent;
}

.main-container .header .navbar-nav .dropdown-menu a {
    font-size: 13px;
    padding: 8px 10px;
    color: #333;
}

.main-container .header .navbar .btn-free {
    padding: 0px 10px !important;
    font-size: inherit;
    color: #fff;
    line-height: 30px;
}

.main-container .header .h-title {
    width: 70%;
    margin: 0 auto;
}

.main-container .header .h-title b {
    font-size: 35px;
    line-height: 1.4;
}

.main-container .c-header .containers > div:last-child {
    margin-top: 40px !important;
}

.main-container .c-header .containers > div:last-child button {
    font-size: 12px;
    width: 95px;
    font-weight: 500;
}

.main-container .c-header .containers > div:last-child button:last-child {
    background-color: #f6f4f2;
}

.main-container .c-header .containers > div:last-child button:last-child:hover {
    background-color: #007bff;
}

.main-container .content .containers > .col-md-6 img {
    max-width: 85%;
}

.main-container .aboutus,
.main-container .task,
.main-container .conversation,
.main-container .tasks,
.main-container .calender {
    padding-top: 100px;
}

.main-container .report {
    padding-top: 200px;
}

.main-container .containers .conts {
    max-width: 100%;
    padding-top: 50px;
    word-break: break-word;
}

.main-container .containers .conts > span:first-child {
    color: #0b66c8;
}

.main-container .containers .conts > b:nth-child(2) {
    font-size: 31px;
    line-height: 1.3;
}

.main-container .containers .conts > span:nth-child(3) {
    font-size: 11px;
    line-height: 1.6;
}

.main-container .conversation .containers > .col-md-6 img {
    max-width: 100%;
}

.main-container .conversation .containers > div:last-child {
    position: absolute;
    right: 0;
    max-width: 46%;
}

.main-container .founder {
    width: 80%;
    margin: 80px auto 90px;
    padding: 50px 0px;
    background: #f4f0eb;
    border-radius: 20px;
}

.main-container .founder .avatar {
    background: url(../images/main/bg-owner.png) no-repeat left top;
    padding-top: 25px;
    text-align: center;
}

.main-container .founder .avatar img {
    max-width: 85%;
}

.main-container .founder .conts > span:nth-child(3) {
    font-size: 12px;
}

.main-container .founder .conts > div:last-child .c-avt img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.main-container .founder .conts > div:last-child .c-info b {
    color: #374f6b;
    font-size: 15px;
}

.main-container .founder .conts > div:last-child .c-info span {
    color: #a5a5a5;
    font-size: 11px;
}

.main-container .rating .conts {
    padding-top: 25px;
}

.main-container .rating .containers .conts > span:nth-child(3) {
    width: 65%;
}

.main-container .rating .relative {
    width: 40%;
    height: 250px;
    margin: 0 auto;
    background: #f9f3db;
    border-radius: 20px;
    position: relative;
}

.main-container .rating .absolute {
    position: absolute;
    background: #fff;
    font-size: 11px;
    line-height: 1.8;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
}

.main-container .rating .absolute .fa-star {
    color: #ffc936;
}

.main-container .rating .absolute .c-vote span {
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
}

.main-container .rating .absolute .c-vote .fa-star {
    font-size: 9px;
}

.main-container .rating .relative .absolute:first-child {
    left: -40px;
    top: 20px;
}

.main-container .rating .relative .absolute:last-child {
    right: -40px;
    bottom: 20px;
}

.main-container .subscribe {
    padding: 90px 0px;
}

.main-container .subscribe .containers {
    background-color: #1c70cb;
    color: #fff;
    border-radius: 20px;
    padding: 35px;
}

.main-container .subscribe .text-center span {
    font-size: 14px;
}

.main-container .subscribe .text-center b {
    font-size: 28px;
}

.main-container .subscribe .form {
    width: 65%;
    height: 65px;
    background: #fff;
    margin: 30px auto 10px;
    border-radius: 10px;
    padding: 16px 20px;
    position: relative;
}

.main-container .subscribe .form input {
    border: 0;
    width: 75%;
    height: 30px;
}

.main-container .subscribe .form input:focus {
    outline: 0;
}

.main-container .subscribe .form button {
    font-size: 17px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-container .footer {
    width: 100%;
    margin-top: 50px;
    font-size: 12px;
    color: #e2e4e9;
    background-color: #0a1f44;
    position: relative;
}

.main-container .footer .containers {
    position: relative;
    padding-top: 120px;
}

.main-container .footer .absolute {
    position: absolute;
    width: 100%;
    top: -70px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px -1px 14px -4px rgba(0, 0, 0, 0.2);
}

.main-container .footer .absolute > div:first-child {
    width: 60%;
}

.main-container .footer .absolute > div:first-child b {
    font-size: 28px;
    color: #0a1f44;
}

.main-container .footer .absolute > div:first-child b span {
    color: #0b66c8;
}

.main-container .footer .absolute > div:first-child > span {
    font-size: 14px;
    color: #90959e;
}

.main-container .footer .absolute > button {
    font-size: 15px;
    padding: 10px 25px;
}

.main-container .footer .contents > div:first-child > a:first-child span {
    font-size: 13px;
}

.main-container .footer .contents {
    border-bottom: solid 1px #e2e4e921;
    padding-bottom: 25px;
}

.main-container .footer .contents a {
    display: block;
    color: #e2e4e9;
}

.main-container .footer .contents > div:first-child a {
    padding: 5px 0px;
}

.main-container .footer .contents a i {
    font-size: 15px;
    width: 20px;
}

.main-container .footer .contents a .fa-youtube {
    font-size: 14px;
}

.main-container .footer .contents .col-title {
    padding: 15px 0px 13px;
    color: #3386dd;
    font-size: 13px;
}

.main-container .footer .contents .f-link {
    padding: 6px 0px;
}

.main-container .footer .contents .btn-get {
    display: inline-flex;
    background: transparent;
    border: solid 1px #fff;
    padding: 2px 8px;
    line-height: 1.3;
}

.main-container .footer .contents .btn-get > div:last-child b {
    font-size: 12px;
}

.main-container .footer .coppyright {
    text-align: center;
    padding: 25px 0px;
    font-size: 11px;
    opacity: 0.6;
}

.main-container .footer .arrow-top {
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #0b66c8;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
}

.main-container .footer .arrow-top:hover {
    -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 35%);
    -moz-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 35%);
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 35%);
}

.main-container .footer .ft-absolute {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: -webkit-center;
}

/**/
@media screen and (max-width: 1300px) {
    .main-container .header {
        height: 600px;
    }

    .main-container .c-header {
        height: 750px;
    }

    .main-container .aboutus {
        padding-top: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .main-container .containers {
        width: 100%;
    }

    .main-container .header {
        height: 650px;
        margin-bottom: 0px;
    }

    .main-container .c-header {
        height: 650px;
    }

    .main-container .c-header .containers > div:first-child {
        padding: 0px 30px;
    }

    .main-container .containers .conts {
        padding-top: 10px;
    }

    .main-container .header .h-title > span:nth-child(2) {
        background-color: #f6f4f2;
    }

    .main-container .aboutus,
    .main-container .task,
    .main-container .conversation,
    .main-container .tasks,
    .main-container .calender {
        padding-top: 80px;
    }

    .main-container .founder {
        width: 90%;
    }

    .main-container .footer .arrow-top {
        right: 20px;
        bottom: 20px;
    }

    .main-container .section .col-md-6:first-child {
        padding-left: 30px !important;
    }

    .main-container .section .col-md-6:last-child {
        padding-right: 20px !important;
    }

    .main-container .section.conversation .col-md-6:last-child {
        padding-right: 0px !important;
    }

    .main-container .report {
        padding-top: 120px;
    }

    .main-container .subscribe {
        width: 75%;
        margin: 0 auto;
    }

    .main-container .subscribe .containers {
        padding: 25px;
    }

    .main-container .footer {
        padding: 0px 30px;
    }

    .main-container .footer .containers {
        padding-top: 100px;
    }

    .main-container .footer .absolute {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
    }

    .main-container .footer .absolute > div:first-child {
        width: 70%;
    }

    .main-container .footer .absolute > button {
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (max-width: 900px) {
    .main-container .header {
        height: 550px;
    }

    .main-container .c-header {
        height: 500px;
    }

    .main-container .c-header .containers > div:first-child {
        padding: 15px 30px;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding: 0px 6px !important;
    }

    .main-container .header .navbar .nav-item:first-child {
        margin-right: 8px !important;
    }

    .main-container .aboutus,
    .main-container .task,
    .main-container .conversation,
    .main-container .tasks,
    .main-container .calender {
        padding-top: 60px;
    }

    .main-container .founder .avatar {
        padding-top: 40px;
    }

    .main-container .founder .avatar img {
        max-width: 75%;
    }

    .main-container .rating .relative {
        width: 45%;
    }

    .main-container .subscribe .containers {
        padding: 15px;
    }

    .main-container .subscribe .form {
        height: 50px;
        padding: 8px 20px;
        margin: 20px auto 10px;
    }

    .main-container .subscribe .form button {
        padding: 5px 8px;
        font-size: 14px;
    }

    .main-container .footer .absolute > div:first-child b {
        font-size: 24px;
    }

    .main-container .footer .absolute > div:first-child > span {
        font-size: 13px;
    }

    .main-container .footer {
        padding: 0px 45px;
    }

    .main-container .footer .absolute {
        width: 85%;
        top: -65px;
    }
}

@media screen and (max-width: 768px) {
    .main-container .section {
        padding-top: 50px;
    }

    .main-container .header {
        height: 480px;
    }

    .main-container .c-header {
        background-position-y: bottom;
        height: 450px;
    }

    .main-container .header .h-title b {
        font-size: 30px;
    }

    .main-container .c-header .containers > div:first-child {
        padding: 5px 20px;
    }

    .main-container .header .h-title {
        width: 85%;
        margin-top: 20px !important;
    }

    .main-container .section.left .containers {
        flex-wrap: wrap-reverse;
    }

    .main-container .content .containers > .col-md-6 img {
        width: 50%;
    }

    .main-container .section.right .containers {
        flex-wrap: wrap;
    }

    .main-container .section .col-md-6:last-child,
    .main-container .section .col-md-6:first-child {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .main-container .section.left .col-md-6:last-child,
    .main-container .section.right .col-md-6:first-child {
        text-align: center;
    }

    .main-container .containers .conts {
        width: 75%;
        margin: 0 auto;
    }

    .main-container .conversation .containers > div:last-child {
        position: static;
        max-width: 100%;
    }

    .main-container .founder {
        padding: 20px;
        margin: 50px auto 0px;
    }

    .main-container .founder .avatar {
        background-size: contain;
        padding-top: 30px;
    }

    .main-container .founder .conts,
    .main-container .rating .conts {
        padding-top: 0px;
    }

    .main-container .containers .conts > b:nth-child(2) {
        font-size: 25px;
    }

    .main-container .rating .relative {
        width: 48%;
        height: 210px;
    }

    .main-container .rating .relative .absolute:first-child {
        left: -50px;
    }

    .main-container .rating .relative .absolute:last-child {
        right: -50px;
    }

    .main-container .subscribe {
        padding: 50px 0px;
        width: 80%;
    }

    .main-container .subscribe .form {
        width: 75%;
    }

    .main-container .footer {
        padding: 0px 30px;
    }

    .main-container .footer .absolute {
        padding: 10px 15px;
        top: -45px;
        width: 90%;
    }

    .main-container .footer .absolute > div:first-child {
        width: 65%;
    }

    .main-container .footer .absolute > div:first-child b {
        font-size: 21px;
    }

    .main-container .footer .absolute > div:first-child > span,
    .main-container .footer .absolute > button {
        font-size: 12px;
    }

    .main-container .footer .contents {
        flex-wrap: wrap;
    }

    .main-container .footer .contents > div {
        padding: 0px !important;
    }

    .main-container .footer .contents > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-container .footer .contents > div:nth-child(2),
    .main-container .footer .contents > div:nth-child(3),
    .main-container .footer .contents > div:last-child {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }

    /**/
    .main-container .c-header .topnav .icon {
        display: block !important;
        position: absolute;
        right: 30px;
        top: 20px;
        color: #555;
        font-size: 18px;
    }

    .main-container .c-header .topnav .nav-item {
        display: none;
    }

    .main-container .c-header .topnav.menu-fixed {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 100vh !important;
        min-height: 250px;
        margin-top: -25px;
        z-index: 999;
        top: 25px;
        bottom: 0;
    }

    .main-container .c-header .topnav.menu-fixed .logo {
        position: absolute;
        padding: 0;
        top: 15px;
        left: 20px;
    }

    .main-container .c-header .topnav.menu-fixed .icon {
        top: 20px;
    }

    .main-container .c-header .topnav.menu-fixed > div:last-child {
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start;
        padding-top: 70px;
        padding-bottom: 15px;
        width: 100%;
    }

    .main-container .c-header .topnav.menu-fixed .navbar {
        flex-flow: wrap;
        padding: 0px;
        width: 100%;
    }

    .main-container .c-header .topnav.menu-fixed .navbar-nav {
        display: block;
        width: 100%;
    }

    .main-container .c-header .topnav.menu-fixed .nav-item {
        display: block !important;
        width: 100%;
        margin: 0px;
    }

    .main-container .navbar-expand-sm .navbar-nav .nav-link {
        padding: 8px 5px !important;
    }

    .main-container .c-header .topnav.menu-fixed .nav-item .btn-free {
        margin-top: 8px;
        padding: 0px 10px !important;
        display: inline-block;
    }

    .main-container .header .navbar-nav .dropdown-menu {
        position: relative;
        box-shadow: 0px 2px 8px -2px rgb(0 0 0 / 21%);
        -webkit-box-shadow: 0px 2px 8px -2px rgb(0 0 0 / 21%);
    }
}

@media screen and (max-width: 600px) {
    .main-container .header .h-title b {
        font-size: 25px;
    }

    .main-container .founder .avatar {
        padding-top: 25px;
    }

    .main-container .rating .relative {
        background: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main-container .rating .absolute {
        position: static;
        width: 55%;
        display: block;
    }

    .main-container .rating .relative .absolute:first-child {
        margin-top: 40px;
    }

    .main-container .rating .relative .absolute:last-child {
        margin-top: 10px;
    }

    .main-container .rating .col-6:first-child {
        flex: 0 0 40%;
    }

    .main-container .rating .col-6:last-child {
        flex: 0 0 60%;
    }

    .main-container .subscribe {
        width: 90%;
    }

    .main-container .subscribe .text-center b {
        font-size: 25px;
    }

    .main-container .footer .absolute {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 55px;
    }

    .main-container .footer .absolute > div:first-child {
        width: 100%;
    }

    .main-container .footer .absolute > button {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .main-container .rating .absolute {
        width: 65%;
    }

    .main-container .founder .avatar {
        padding-top: 20px;
    }

    .main-container .rating .containers .conts > span:nth-child(3) {
        width: 90%;
    }

    .main-container .rating .containers .conts > div:last-child {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .main-container .rating .containers .conts > div:last-child > a:last-child {
        margin-left: 0px !important;
        margin-top: 5px;
    }

    .main-container .footer .containers {
        padding-top: 110px;
    }
}

@media screen and (max-width: 420px) {
    .main-container .header {
        height: 400px;
    }

    .main-container .c-header {
        height: 380px;
    }

    .main-container .rating .absolute {
        width: 75%;
    }

    .main-container .footer {
        font-size: 11px;
    }

    .main-container .footer .absolute {
        padding-bottom: 65px;
    }

    .main-container .footer .containers {
        padding-top: 135px;
    }

    .main-container .footer .contents .btn-get > div:last-child b {
        font-size: 11px;
    }
}

@media screen and (max-width: 375px) {
    .main-container .footer .containers {
        padding-top: 150px;
    }
}